.card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    // box-shadow: 0 3px 7px -3px black;
    margin: 20px auto;
    margin-bottom: 1.6%;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    max-height: 136.25px;

    min-width: 340px;

    .card {
        position: relative;
        height: 100px;
        height: auto;
        box-shadow: 0 3px 10px 4px crimson;
        max-height: 138px;
    }

    .card-title {
        margin-bottom: 30px;
        margin-left: 110px;
        font-size: 30px;
    }

    .card-info {
        margin-left: 70px;
        margin-top: -10px;
        list-style: none;
    }

    .card-poster {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 92px;
    }

    .card-bookmark {
        border: 22px solid rgb(182, 182, 182);
        border-bottom-color: transparent;
        height: 10px;
        position: absolute;
        right: 20px;
        margin-right: -10px;
        margin-top: -4px;
    }

    .red {
        border: 22px solid crimson;
        border-bottom-color: transparent;
        height: 10px;
        position: absolute;
    }
}

// .pagination {
//     margin-bottom: 70px;
// }

.pagination > li > a {
    background-color: white;
    color: black;
    margin-bottom: 60px;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: white;
    background-color: crimson;
    border-color: black;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: crimson !important;
    border-color: lightgray !important;
}

.pagination > .active > a {
    color: black;
    background-color: crimson;
    border: solid 1px crimson;
}

.pagination > .active > a:hover {
    background-color: crimson;
    border: solid 1px crimson;
}
