.footer-section {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: rgb(33, 33, 33);
    border-style: 2px solid;
    z-index: 999;
}

.footer {
    margin: 8px;
    // margin-left: 70px;
    margin-bottom: 2px;
    background: #212121;
    color: #212121;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 48px;
    margin-top: 10px;
}
.footer > a.active > svg {
    fill: white;
}

.footer-item {
    text-decoration: none;
    //color: #212121;
    margin-top: -10px;
    margin-bottom: -4px;
    display: flex;
    width: 32px;
    height: 32px;
    fill: rgb(0, 0, 0);
}

.subtitle {
    color: #888;
    font-size: 12px;
    font-weight: 500;
}

.subtitle > span.active > a {
    color: rgb(255, 255, 255);
}
