.footer-section {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: rgb(33, 33, 33);
    border-style: 2px solid;
    z-index: 999;
}

.footer {
    margin: 8px;
    // margin-left: 70px;
    margin-bottom: 2px;
    height: 40px;
    background: rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.footer-item {
    text-decoration: none;
    color: rgb(33, 33, 33);
    height: 32px;
    width: auto;
}
