header {
    display: flex;
    align-items: center;
    justify-content: center;
    // z-index: 999;
    margin: 2px 4px 8px 4px;
    height: 60px;
    background: var(--light);
    border: 2px solid var(--dark);
    // border-radius: 90px;
    box-shadow: inset 0 12px 12px var(--dark), 1px 12px 8px var(--light),
        1px -12px 8px var(--light);
}
