.header-section {
    position: fixed;
    top: 0;
    width: 100vw;
    background: var(--darkest);
}

.header {
    margin: 8px;
    margin-top: 2px;
    height: 40px;
    background: linear-gradient(
        to right,
        var(--darkest),
        var(--light) 10%,
        var(--light) 90%,
        var(--darkest)
    );
    color: var(--darkest);
    text-align: center;
    font-family: geneva;
    font-size: 2em;
    border-radius: 12px;
}
