.header-section {
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    z-index: 900;
}

.header {
    margin: 8px;
    margin-top: 2px;
    height: 46px;
    background: black;
    color: #ffffff;
    text-align: center;
    font-family: geneva;
    font-size: 2em;
    border-radius: 0;
}
