.dropdown {
    margin-top: -35px;
    align-items: center;
}

.drop-list {
    box-sizing: border-box;
    padding: 1.5em;
    border-radius: 15px;
    outline: none;
}

.drop-items {
    background-color: crimson;
    list-style: none;
    border: 1px solid #ccc;
    margin-top: -1px;
    line-height: 2;
    padding: 10px 16px;
}
