.dropdown {
    margin-top: 80px;
    margin-left: -310px;
    align-items: center;
    max-width: 380px;
    min-width: 380px;
}

.drop-list {
    box-sizing: border-box;
    padding: 1.5em;
    border-radius: 15px;
    outline: none;
    margin-left: 30px;
}

.drop-items {
    list-style: none;
    border: 1px solid #ccc;
    margin-top: -1px;
    line-height: 2;
    padding: 10px 16px;
}
