@import url(https://fonts.googleapis.com/css?family=Roboto);:root {
  --lightest: whitesmoke;
  --lighter: mintcream;
  --light: azure;
  --darkest: #031927;
  --darker: #052e47;
  --dark: #0a5c8f;
}

body {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  top: 100px;
  background-color: #000000;
  font-family: Helvetica;
  display: grid;
  grid-template-rows: 1fr max 1fr;
  height: 100vh;
}

.center {
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;
}

.header-section {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  z-index: 900;
}

.header {
  margin: 8px;
  margin-top: 2px;
  height: 46px;
  background: black;
  color: #ffffff;
  text-align: center;
  font-family: geneva;
  font-size: 2em;
  border-radius: 0;
}

.footer-section {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: #212121;
  border-style: 2px solid;
  z-index: 999;
}

.footer {
  margin: 8px;
  margin-bottom: 2px;
  background: #212121;
  color: #212121;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 48px;
  margin-top: 10px;
}

.footer-item {
  text-decoration: none;
  color: #212121;
  height: 32px;
  width: auto;
  margin-top: -10px;
  margin-bottom: -4px;
  display: flex;
}

.footer-icon {
  margin-top: 8px;
}

.subtitle {
  color: white;
  font-size: 12px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  margin: 20px auto;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  max-height: 136.25px;
  min-width: 340px;
}

.card-container .card {
  position: relative;
  height: 100px;
  height: auto;
  max-height: 138px;
  max-width: 340px;
  background-color: #1c1c1cd9;
  color: #fff;
  border: 1px solid #393939;
}

.card-container .card-title {
  margin-bottom: 18px;
  margin-left: 110px;
  font-size: 26px;
  margin-top: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 175px;
}

.card-container .star-svg {
  margin-top: -4px;
  margin-right: 3px;
}

.card-container .card-info {
  margin-left: 70px;
  margin-top: -10px;
  list-style: none;
  color: #acacac;
}

.card-container .card-poster {
  position: absolute;
  top: -1px;
  left: -1px;
  right: 0;
  bottom: 0;
  width: 92px;
}

.card-container .card-bookmark {
  border: 22px solid rgba(245, 245, 245, 0.883);
  border-bottom-color: transparent;
  height: 10px;
  position: absolute;
  right: 18px;
  margin-right: -10px;
  margin-top: -4px;
}

.card-container .red {
  border: 22px solid crimson;
  border-bottom-color: transparent;
  height: 10px;
  position: absolute;
}

.pagination {
  margin-bottom: 20px;
}

.pagination > li > a {
  background-color: black;
  color: white;
  margin-bottom: 60px;
}

.page-item.disabled .page-link {
  background-color: #000;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: white;
  background-color: crimson;
  border-color: white;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: crimson !important;
  border-color: lightgray !important;
}

.pagination > .active > a {
  color: white;
  background-color: crimson;
  border: solid 1px crimson;
}

.pagination > .active > a:hover {
  background-color: crimson;
  border: solid 1px crimson;
}

.page-container {
  margin: 120px auto 0 auto;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

form {
  position: relative;
  width: 305px;
  margin: 15px auto 0 auto;
  text-align: center;
}

input {
  width: 270px;
  height: 42px;
  margin-top: 25px;
  padding: 0 15px;
  background: #2d2d2d;
  background: rgba(45, 45, 45, 0.15);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #3d3d3d;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1) inset;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

input:-moz-placeholder {
  color: #fff;
}

input:-ms-input-placeholder {
  color: #fff;
}

input::-webkit-input-placeholder {
  color: #fff;
}

input:focus {
  outline: none;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1) inset, 0 2px 7px 0 rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
  width: 300px;
  height: 44px;
  margin-top: 25px;
  padding: 0;
  background: #ff0000;
  border-radius: 6px;
  border: 1px solid #ff0e0e;
  box-shadow: 0 15px 30px 0 rgba(255, 255, 255, 0.25) inset, 0 2px 7px 0 rgba(0, 0, 0, 0.2);
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

button:hover {
  box-shadow: 0 15px 30px 0 rgba(255, 255, 255, 0.15) inset, 0 2px 7px 0 rgba(0, 0, 0, 0.2);
}

button:active {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border: 0px solid #ef4300;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.page-container {
  margin: 120px auto 0 auto;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

form {
  position: relative;
  width: 305px;
  margin: 15px auto 0 auto;
  text-align: center;
}

input {
  width: 270px;
  height: 42px;
  margin-top: 25px;
  padding: 0 15px;
  background: #2d2d2d;
  background: rgba(45, 45, 45, 0.15);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #3d3d3d;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1) inset;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

input:-moz-placeholder {
  color: #fff;
}

input:-ms-input-placeholder {
  color: #fff;
}

input::-webkit-input-placeholder {
  color: #fff;
}

input:focus {
  outline: none;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1) inset, 0 2px 7px 0 rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
  width: 300px;
  height: 44px;
  margin-top: 25px;
  padding: 0;
  background: #ff0000;
  border-radius: 6px;
  border: 1px solid #ff0e0e;
  box-shadow: 0 15px 30px 0 rgba(255, 255, 255, 0.25) inset, 0 2px 7px 0 rgba(0, 0, 0, 0.2);
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

button:hover {
  box-shadow: 0 15px 30px 0 rgba(255, 255, 255, 0.15) inset, 0 2px 7px 0 rgba(0, 0, 0, 0.2);
}

button:active {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border: 0px solid #ef4300;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.create-form {
  margin-top: -45px;
}

input,
select,
textarea,
body * {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

input::after,
input::before,
select::after,
select::before,
textarea::after,
textarea::before,
body *::after,
body *::before {
  box-sizing: border-box;
}

/* typography */

h3 {
  font-size: 2rem;
  text-align: center;
  margin-top: -60px;
}

.container {
  position: relative;
  max-width: 40rem;
  margin: 5rem auto;
  background: black;
  padding: 0;
  border-radius: 1px;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0.98);
  transition: transform 0.28s ease-in-out;
}

.container:hover::before {
  transform: scale(1);
}

.button-container {
  text-align: center;
  margin-top: -50px;
}

fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none;
}

.form-group {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
  text-align: left;
}

.form-inline > .form-group,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0;
}

.form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem;
}

.checkbox .form-help,
.form-group .form-help {
  position: absolute;
  width: 100%;
}

.checkbox .form-help {
  position: relative;
  margin-bottom: 1rem;
}

.form-group input {
  height: 1.9rem;
  text-align: left;
}

.form-group textarea {
  resize: none;
}

.form-group select {
  width: 100%;
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none;
}

.form-group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  transition: all 0.28s ease;
}

.form-group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
}

.form-group .bar::before {
  content: "";
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #e50914;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}

.form-group input,
.form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  transition: all 0.28s ease;
  box-shadow: none;
}

.form-group input[type=file] {
  line-height: 1;
}

.form-group input[type=file] ~ .bar {
  display: none;
}

.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
  color: white;
}

.form-group select ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label,
.form-group textarea:focus ~ .control-label,
.form-group textarea:valid ~ .control-label,
.form-group textarea.form-file ~ .control-label,
.form-group textarea.has-value ~ .control-label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0;
}

.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}

.form-group select:focus ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group textarea:focus ~ .control-label {
  color: #e50914;
}

.form-group select:focus ~ .bar::before,
.form-group input:focus ~ .bar::before,
.form-group textarea:focus ~ .bar::before {
  width: 100%;
  left: 0;
}

.checkbox label {
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  text-align: left;
  color: white;
  display: block;
}

.checkbox input {
  width: auto;
  opacity: 1e-8;
  position: absolute;
  left: 0;
}

.checkbox {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.checkbox .helper {
  color: #999;
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  z-index: 0;
  border: 0.125rem solid currentColor;
  border-radius: 0.0625rem;
  transition: border-color 0.28s ease;
}

.checkbox .helper::before,
.checkbox .helper::after {
  position: absolute;
  height: 0;
  width: 0.2rem;
  background-color: #e50914;
  display: block;
  transform-origin: left top;
  border-radius: 0.25rem;
  content: "";
  transition: opacity 0.28s ease, height 0s linear 0.28s;
  opacity: 0;
}

.checkbox .helper::before {
  top: 0.65rem;
  left: 0.38rem;
  transform: rotate(-135deg);
  box-shadow: 0 0 0 0.0625rem black;
}

.checkbox .helper::after {
  top: 0.3rem;
  left: 0;
  transform: rotate(-45deg);
}

.checkbox label:hover .helper {
  color: #e50914;
}

.checkbox input:checked ~ .helper {
  color: #e50914;
}

.checkbox input:checked ~ .helper::after,
.checkbox input:checked ~ .helper::before {
  opacity: 1;
  transition: height 0.28s ease;
}

.checkbox input:checked ~ .helper::after {
  height: 0.5rem;
}

.checkbox input:checked ~ .helper::before {
  height: 1.2rem;
  transition-delay: 0.28s;
}

.checkbox + .checkbox {
  margin-top: 1rem;
}

.has-error .legend.legend,
.has-error.form-group .control-label.control-label {
  color: #e50914;
}

.has-error.form-group .form-help,
.has-error.form-group .helper,
.has-error.checkbox .form-help,
.has-error.checkbox .helper {
  color: #e50914;
}

.has-error .bar::before {
  background: #e50914;
  left: 0;
  width: 100%;
}

.button {
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  font-size: 1.1rem;
  color: #f72a35;
  margin-top: 35px;
  margin-bottom: 35px;
  cursor: pointer;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  overflow: hidden;
}

.button span {
  color: #fff;
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  background: #210103;
  border: 50vh solid #83050b;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 0;
  opacity: 1;
  transform: translate(-50%, -50%) scale(0);
}

.button:hover {
  color: #e50914;
}

.button:active::before,
.button:focus::before {
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}

.button:focus {
  outline: none;
}

.grid-container {
  display: grid;
}

.search-button {
  width: 320px;
  background-color: crimson;
}

.grid-row {
  margin-bottom: 50px;
}

.movie {
  display: inline-grid;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 20px;
  max-width: 150px;
}

h6 {
  font-family: Helvetica;
  text-align: left;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  color: whitesmoke;
}

.add-form {
  margin-left: 0;
  margin-top: -6px;
  margin-bottom: 10px;
}

.container-movie-info {
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 28px;
}

p {
  font-family: Helvetica;
}

.feature-cast {
  margin-top: 15px;
  margin-bottom: 15px;
}

.cast-container {
  display: grid;
}

.cast-card {
  display: inline-grid;
  margin-bottom: 20px;
  margin-right: 20px;
  max-width: 150px;
}

.play {
  width: 330px;
}

.card-add {
  width: 330px;
}

.movie-images {
  margin-bottom: 20px;
}

.grid-images {
  margin-bottom: 60px;
}

.dropdown {
  margin-top: -35px;
  align-items: center;
  min-width: 374px;
}

.drop-list {
  box-sizing: border-box;
  padding: 1.5em;
  border-radius: 15px;
  outline: none;
}

.drop-items {
  background-color: crimson;
  list-style: none;
  border: 1px solid #ccc;
  margin-top: -1px;
  line-height: 2;
  padding: 10px 16px;
}

