:root {
  --lightest: whitesmoke;
  --lighter: mintcream;
  --light: azure;
  --darkest: #031927;
  --darker: #052e47;
  --dark: #0a5c8f;
}

main {
  overflow-y: scroll;
  padding: 28px 20px;
}

body {
  margin: auto;
  top: 0;
  background-color: var(--darkest);
  font-family: sans-serif;
  display: grid;
  grid-template-rows: 1fr max 1fr;
  height: 100vh;
}

.center {
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.main-container {
  margin-top: 52px;
  margin-bottom: 52px;
}

.grid {
  display: grid;
}

.border {
  border: 12px;
  border: medium solid var(--darker);
}

.border-bottom-fat {
  border-bottom: 12px solid var(--dark);
}

.border-bottom {
  border-bottom: 4px solid var(--light);
}

.border-radius {
  border-radius: 12px;
}

.shadow {
  box-shadow: 0 0 20px var(--dark);
}

/* padding margin  */

.margin-4 {
  margin: 4px;
}

.margin-8 {
  margin: 8px;
}

.margin-16 {
  margin: 16px;
}

.padding-4 {
  padding: 4px;
}

.padding-8 {
  padding: 8px;
}

.padding-12 {
  padding: 12px;
}

.header-section {
  position: fixed;
  top: 0;
  width: 100vw;
  background: var(--darkest);
}

.header {
  margin: 8px;
  margin-top: 2px;
  height: 40px;
  background: linear-gradient(to right, var(--darkest), var(--light) 10%, var(--light) 90%, var(--darkest));
  color: var(--darkest);
  text-align: center;
  font-family: geneva;
  font-size: 2em;
  border-radius: 12px;
}

.footer-section {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: var(--darkest);
}

.footer {
  margin: 8px;
  margin-bottom: 2px;
  height: 40px;
  background: linear-gradient(to right, var(--darkest), var(--light) 10%, var(--light) 90%, var(--darkest));
  color: var(--darkest);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-item {
  text-decoration: none;
  color: var(--darkest);
  height: 32px;
  width: auto;
}

